{% extends 'base.html' %}
{% load static %}

{% block title %}Rooms reservation app{% endblock %}

{% block content %}
    <div class="container">
        <h1>Rooms reservation app</h1>
        <p>The application allows you to book rooms, edit bookings and view a list of bookings.</p>
        <strong>
            <nav>
                <ul class="list-group">
                    <li class="list-group-item"><a href="{% url 'all_rooms_view' %}">Rooms list</a></li>
                    <li class="list-group-item"><a href="{% url 'add_room_view' %}">Add room</a></li>
                </ul>
            </nav>
        </strong>
        <footer class="text-muted mt-5">
            <p>Author: Maciej Koczot</p>
        </footer>
    </div>
{% endblock %}
