{% extends 'base.html' %}
{% load static %}

{% block title %}Rooms list{% endblock %}

{% block content %}
    <div class="container">
        <h1>Rooms list:</h1>
        <ul class="list-group list-group-horizontal text-center">
            <li class="list-group-item text-info" style="width: 200px">Name:</li>
            <li class="list-group-item text-info" style="width: 110px">Room id:</li>
            <li class="list-group-item text-info" style="width: 80px">Size:</li>
            <li class="list-group-item text-info" style="width: 200px">Projector available:</li>
            <li class="list-group-item text-info" style="width: 250px">Room available for today:</li>
            <li class="list-group-item text-info" style="width: 80px"></li>
            <li class="list-group-item text-info" style="width: 100px"></li>
            <li class="list-group-item text-info" style="width: 100px"></li>
        </ul>
        {% for room in all_rooms %}
            <ul class="list-group list-group-horizontal text-center">
                <li class="list-group-item" style="width: 200px"><a
                        href="{% url 'specific_room_view' room.id %}">{{ room.name }}</a></li>
                <li class="list-group-item" style="width: 110px">{{ room.id }}</li>
                <li class="list-group-item" style="width: 80px">{{ room.size }}</li>
                {% if room.projector_available %}
                    <li class="list-group-item text-success" style="width: 200px">True</li>
                {% else %}
                    <li class="list-group-item text-danger" style="width: 200px">False</li>
                {% endif %}
                {% if room.reserved %}
                    <li class="list-group-item text-danger" style="width: 250px">Reserved</li>
                {% else %}
                    <li class="list-group-item text-success" style="width: 250px">Available</li>
                {% endif %}
                <li class="list-group-item" style="width: 80px"><a href="{% url 'modify_room_view' room.id %}">edit</a>
                </li>
                <li class="list-group-item" style="width: 100px"><a
                        href="{% url 'delete_room_view' room.id %}">delete</a></li>
                <li class="list-group-item" style="width: 100px"><a href="{% url 'reserve_room_view' room.id %}">book
                    it!</a>
                </li>
            </ul>
        {% endfor %}
        <a href="{% url 'main_page_view' %}">Go back to main page</a>
    </div>
{% endblock %}
